*{
    margin: 0;
    padding: 0;
}
#bubbles{
    margin-bottom: 5rem;
    margin-top: 7rem;
}
body {
   /*background-image: url('/img/blight-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;*/
    background-color: black;
}
#globe > select {
    display:none;
}
svg{
    display: block;
    margin: auto;
}
svg .ocean{
    -webkit-box-shadow: 0px 0px 300px -7px rgba(179,242,236,1);
    -moz-box-shadow: 0px 0px 300px -7px rgba(179,242,236,1);
    box-shadow: 0px 0px 300px -7px rgba(179,242,236,1);
}

.ocean {
    fill: #041A25;
    -webkit-box-shadow: 0px 0px 300px -7px rgba(179,242,236,1);
    -moz-box-shadow: 0px 0px 300px -7px rgba(179,242,236,1);
    box-shadow: 0px 0px 300px -7px rgba(179,242,236,1);
}

.country {
   /* fill: #104761;*/
    stroke: #083242;
    stroke-width: 0.7px;
}

.country:hover {
    fill: #FFDF00; /*#53A9C0;*/
    stroke-width: 1px;
}

.focused {
    fill: #B3F2EC;
}

select {
    border: solid #ccc 1px;
    padding: 3px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
}

.countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
}
h1{
    text-align: center;
    margin-top: 2rem;
}
#selectOption{
    background: #104761;
    border: .1rem solid #e2d8a4;
    border-radius: .2rem;
    color: white;
    height: 2rem;
}
.legend{
    display: inline-grid;
    position: absolute;
    /* margin-left: 53rem; */
    /* margin-top: 2rem; */
    right: 220px;
}
.rect{
    width: 20px;
    height: 20px;
    outline: dashed;
    outline-offset: -6px;
    margin: .5rem;
}
 .lg1{
     background-color:  #024059;
 }
.lg2{
    background-color:  #104761;
}
.lg3{
    background-color:  #3E637A;
}
.lg4{
    background-color: #648093;
}
.lg5{
    background-color: #8A9EAD;
}
.lg6{
    background-color: #B0BDC8;
}
.lg7{
    background-color:#D7DEE3;
}
.öpis{
    display: inline-flex;
}
.legend-text{
    color: white;
}

.range-slider{
    text-align: center;
    margin-bottom: 3rem;
}

#range-slider__input{
    width: 600px;
    margin: 1rem;
    /*display: block;
    margin: auto;
    margin-top: 1rem;*/
}
ul.range-slider__input-list{
    display: inline-flex;
    list-style-type: none;
    margin-top: 1rem;
    color: white;
}
.range-slider__input-text{
    margin: -.4rem;
    transform: rotate(-90deg);

}
.infoDiv{
    width: 15rem;
    background-color: #041A25;
    color: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
}
