*{
    margin: 0;
    padding: 0;
}

.container {
    display: flex; /* or inline-flex */
}

#stackedBarChart_Select{
    width: 10rem;
    margin: auto;
}

.bar0 { fill: #104761; }
.bar0:hover{
   outline: 0.1rem solid red;
}
.bar1 { fill: #3E637A; }
.bar1:hover{
    outline: 0.1rem solid red;
}
.bar2 { fill: #648093; }
.bar2:hover{
    outline: 0.1rem solid red;
}
.bar3 { fill: #8A9EAD; }
.bar3:hover{
    outline: 0.1rem solid red;
}